#include <zephyr/dt-bindings/gpio/gpio.h>

#include "chipper.dtsi"

/*
 * Right-half LED hardware test.
 *
 * The XIAO nRF52840 onboard RGB LED channels are active-low:
 * driving P0.26, P0.06, and P0.30 low turns red, blue, and green on.
 * These GPIO hogs force all three channels on during boot.
 * This is not RGB underglow and does not require an underglow strip.
 */
&gpio0 {
	debug_user_led_r {
		gpio-hog;
		gpios = <26 GPIO_ACTIVE_LOW>;
		output-low;
	};

	debug_user_led_b {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_LOW>;
		output-low;
	};

	debug_user_led_g {
		gpio-hog;
		gpios = <30 GPIO_ACTIVE_LOW>;
		output-low;
	};
};

&default_transform {
	col-offset = <6>;
};

&five_column_transform {
	col-offset = <6>;
};

&kscan0 {
	col-gpios
		= <&gpio1 11 GPIO_ACTIVE_HIGH>	//Col0
		, <&gpio1 12 GPIO_ACTIVE_HIGH>  //Col1
		, <&gpio1 13 GPIO_ACTIVE_HIGH>  //Col2
		, <&gpio1 14 GPIO_ACTIVE_HIGH>  //Col3
		, <&gpio1 15 GPIO_ACTIVE_HIGH>  //Col4
		, <&gpio0 10 GPIO_ACTIVE_HIGH>  //Col5
		;
};
